
.mainbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box1{
    flex: 0 1 60%;
    padding: 20px 0;
}
.box{
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}
.head{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.foottext{
    margin-bottom: 10px;
    text-align: justify;
    text-decoration: none;
    color: black;
}
.logoimg{
    width: 250px;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    gap: 20px;
    
}
.copyrightdiv{
    padding: 20px 0;

}
.copyright{
    padding-left:9px ;
}
.social-icons{
    font-size: 26px;
    background: transparent ;
    border: none;
}

@media only screen and (max-width: 992px){
    .mainbox{
        flex-direction: column;
        padding: 10px;
    }
    
    .foottext{
        margin-bottom: 2px;
    }
    .copyrightdiv{
        flex-direction: column;

    }

}